@page
@model logicLearn.Pages.Programadores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Programadores</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Programador[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programador[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programador[0].Tarea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Programador) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarea)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProgramadoresID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProgramadoresID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProgramadoresID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
