@page
@model logicLearn.Pages.Materiales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Materiales</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].Contenido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Material) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MaterialID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MaterialID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MaterialID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
